SUPABASE_URL=https://axwhtngxveaidbscsrca.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF4d2h0bmd4dmVhaWRic2NzcmNhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ1Njc0MiwiZXhwIjoyMDkzMDMyNzQyfQ.5hv3WPlFmaRVFFtsGYWOkYp8e3WBv7bMIAIjL25L7Ag

JWT_SECRET=tsWzKiGfb+tBXM6swS6r5pp2jFGmLBcJ1nYksOvchb70MWNNw36szhtL6JHzlHn1geA/eai/wyX0KA7p65hxtA==


